#custom_categories_main,#custom_categories_header {
        
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}
#custom_categories_main{

padding-top: 44px;
padding-bottom: 150px;
}
#custom_categories_header  {
    margin: 10px 20px;
    font-size: 16px;
    
}
#custom_categories_header #h_search {
    position: absolute;
width: calc(100% - 76px);
margin-top: 0px;
left: 10px;
z-index: 400;

}

#custom_categories_header button {
/* padding: 10px 20px; */
height: 35px;
width: 35px;
font-size: 16px;
background: var(--comfy-input-bg);
border: 2px solid var(--border-color);
color: var(--input-text);
border-radius: 5px;
float: right;
position: relative;
margin: 3px 2px 2px 8px;
cursor: pointer;
z-index: 999;
}

#custom_categories_header button:hover {border: 2px solid var(--descrip-text);

}
.sb-category-dialog {
outline: 0;
border: 0;
border-radius: 6px;
background: var(--bg-color);
color: #fff;
box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.05), inset -1px -1px 0px rgba(0, 0, 0, 0.5), 2px 2px 20px rgb(0, 0, 0);
max-width: 800px;
min-width: 30rem;
box-sizing: border-box;
font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
font-size: 1rem;
padding: 20px; 
position: fixed;
top: 50%;
left: 50%;
z-index: 1001;
}

#sb-category-form {
margin-top: 10px;
text-align: center;
}

.sb-input {
width: 100%;
padding: 8px;
margin-bottom: 10px;
box-sizing: border-box;
border: 2px solid var(--border-color);
border-radius: 4px;
margin-top: 16px;
background: var(--bg-color);
color: var(--input-text);

}
.sb-input:focus {
outline: none;
border: 2px solid var(--descrip-text);
}

.sb-button {
background-color: var(--comfy-menu-bg);
color: var(--input-text);
padding: 10px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
margin-top: 10px;
text-transform: uppercase;
font-weight: bold;
}

.sb-button:hover {
filter: brightness(120%);
}

#closeModalButton {
background-color: var(--comfy-menu-bg);
position: absolute;
top: 0;
right: 0;
margin: 0;
}

#closeModalButton:hover {
filter: brightness(120%);

}
#searchInputCn {
box-sizing: border-box;
width: 100%;
border-radius: 5px;
padding: 10px;
border: none;
user-select: none;
background: var(--comfy-input-bg);
color: var(--input-text);
line-height: 1.4;
border: 1px solid var(--border-color);
}